<launch>
    <!-- Declare arguments -->
    <arg name="urdf_file" default="$(find first_urdf_tutorial)/urdf/two_wheeled_robot.urdf.xacro"/>
    <arg name="rviz_config_file" default="$(find first_urdf_tutorial)/rviz/robot_car.rviz"/>
    <rosparam file="$(find first_urdf_tutorial)/config/controllers.yaml" command="load"/>

    <!-- Load URDF into robot_description parameter -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg urdf_file)"/>

    <!-- Start robot_state_publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="use_sim_time" value="true"/>
    </node>

    <!-- Start Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- Spawn the robot model in Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -param robot_description -model two_wheeled_robot -x 0 -y 0 -z 0.5"/>

    <!-- Spawn the controller -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller diff_drive_controller" output="screen"/>


    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)" required="true"/>
</launch>

